@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

.box {
    background-color: gray;
    padding: 10px;
}

.container {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

/* Header */
.header {
    margin-top: 5%;
    /* margin-bottom: 10px; */
}

.service {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Logo */
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
}

/* Features */
.features {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.feature {
    background-color: #f2f2f2;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

/* Get started */
.getstarted {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
}

.getstarted h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.getstarted ol {
    text-align: left;
    max-width: 600px;
    /* padding-left: 20px; */
    /* margin: 0; */
}

.getstarted li {
    margin-bottom: 10px;
}

/* Picture */
.picture {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.picture img {
    max-width: 100%;
    height: auto;
}

/* Contacts */
.contacts {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
